/* Conteneur principal */
.container {
    display: flex; /* Utilisation de flexbox pour la disposition */
    height: 100vh; /* Hauteur de la fenêtre d'affichage */
  }
  
 
  
  /* Contenu principal */
  .main-content {
    flex: 1; /* Permet au contenu principal d'occuper l'espace restant */
    padding: 20px; /* Padding pour le contenu principal */
    background-color: #fff; /* Couleur de fond pour le contenu principal */
  }
  