<p-toast></p-toast>
<p-button
  type="button"
  (click)="showDialog()"
  class="flex align-items-center justify-content-center px-2 py-4 border-none font-semibold text-base gap-2"
>
  <lucide-icon name="plus" class="icon-size"></lucide-icon>
  <span>Uploader un backup</span>
</p-button>
<p-dialog
  header="Uploader un backup"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  (onHide)="uploadedFile = null"
>
  <p-fileUpload
    mode="basic"
    chooseLabel="Choisir un fichier"
    accept=".sql"
    maxFileSize="1000000"
    (onSelect)="onSelect($event)"
    customUpload="true"
  ></p-fileUpload>

  <p-button
    label="Upload"
    icon="pi pi-upload"
    (click)="onUpload()"
    [disabled]="!uploadedFile"
  ></p-button>
</p-dialog>
