<p-toast></p-toast>
<p-table
  [value]="databases"
  [tableStyle]="{
    'min-width': '50rem',
    'border-radius': '0.75rem',
    overflow: 'hidden',
    border: '1px solid #2e2e32',
  }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Actions</th>
      <th>Nom</th>
      <th>Tâche</th>
      <th>Type</th>
      <th>Database</th>
      <th>Creér le</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-database>
    <tr>
      <td class="flex align-items-center gap-2">
        <button
          type="button"
          class="button-backup-hover"
          (click)="createBackup(database.id)"
          pTooltip="Backup"
          tooltipPosition="bottom"
        >
          <lucide-icon
            name="database-backup"
            class="icon-size icon-backup-hover"
          ></lucide-icon>
        </button>

        <app-schedule-backup
          #scheduleBackupComponent
          [database]="database"
        ></app-schedule-backup>

        <app-restore-database-dialog
          #restoreDatabaseDialogComponent
          [database]="database"
        ></app-restore-database-dialog>
        <button
          type="button"
          class="button-delete-hover"
          (click)="deleteDatabase(database.id)"
          pTooltip="Delete"
          tooltipPosition="bottom"
        >
          <lucide-icon
            name="trash"
            class="icon-size icon-delete-hover"
          ></lucide-icon>
        </button>
      </td>
      <td>{{ database.name }}</td>
      <td>
        <span
          *ngIf="database.is_cron_active"
          class="flex align-items-center gap-2"
        >
          <span class="cron_enabled__text">Enable</span>
          <span class="cron_enabled"></span>
        </span>
        <span
          *ngIf="!database.is_cron_active"
          class="flex align-items-center gap-2"
        >
          <span class="cron_disabled__text">Disable</span>
          <span class="cron_disabled"></span>
        </span>
      </td>
      <td>{{ database.type }}</td>
      <td>{{ database.database_name }}</td>
      <td>{{ database.created_at | date : "dd MMMM yyyy" }}</td>
    </tr>
  </ng-template>
  <div *ngIf="databases.length === 0">
    <p>Aucune base de données trouvée.</p>
  </div>
</p-table>
