.p-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-card-content p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.p-grid {
  gap: 20px; /* Espace entre les cartes */
}

.header__dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
}