/* @import "primeng/resources/themes/lara-dark-purple/theme.css"; */
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100svh;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
  outline: none;
}

.bg-transparent {
  background-color: transparent !important;
}

.icon-size {
  width: 24px;
  height: 24px;
}

.bg-orange-pale {
  background-color: #f56565;
}

.btn__action_add {
  padding: 15px 20px;
  border-radius: 0.75rem;
} */
