<p-toast />
<button
  (click)="showDialog()"
  pTooltip="Restore"
  tooltipPosition="bottom"
  class="button-restore-hover"
>
  <lucide-icon
    name="iteration-cw"
    class="icon-size icon-restore-hover"
  ></lucide-icon>
</button>

<p-dialog
  header="Restore Database"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem', height: '25rem' }"
>
  <span class="block mb-2">Select a backup to restore</span>
  <form
    [formGroup]="restoreForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-column justify-content-between h-full"
  >
    <div class="flex align-items-center gap-2">
      <p-dropdown
        formControlName="selectedBackup"
        [options]="backups"
        optionLabel="Filename"
        placeholder="Select a backup"
        autoWidth="false"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <div class="flex justify-content-end gap-2 p-2">
      <p-button
        type="button"
        (click)="visible = false"
        severity="secondary"
        class="flex align-items-center px-2"
      >
        Cancel
      </p-button>
      <p-button
        type="submit"
        class="flex align-items-center px-2"
      >
        <span>Restore</span>
      </p-button>
    </div>
  </form>
</p-dialog>
